<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="col-sm-4"
          style="
            height: 100vh;
            overflow-y: scroll;
            border-right: 3px solid black;
          "
        >
          <strong>Groups : </strong>

          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
          <p>sdf sdf sdfsdf sdffsd fs</p>
        </div>
        <div class="col-sm-8">
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>
          <strong>Chat window</strong>

          <strong>Chat window</strong>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
          <p>adasdas</p>
        </div>
      </div>
    </div>
  </body>
</html>
